<div class="pull-right">
  <button type="button" class="btn btn-xs btn-danger" @click="deleteAllResources()" v-if="resources.length">
    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    Flush all
  </button>
</div>
<table class="table table-hover">
  <caption>Requests and responses</caption>
  <thead>
    <tr>
      <th>method</th>
      <th>url</th>
      <th>status code</th>
      <th>disabled</th>
      <th>actions</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="resource in resources" :class="{
      info: resource.request.method === 'GET',
      warning: resource.request.method === 'POST',
      success: resource.request.method === 'PUT',
      danger: resource.request.method === 'DELETE'
    }">
      <td>{{resource.request.method}}</td>
      <td>
        <a v-link="{ name: 'resource', params: { project: project, id: resource._id }}">
          {{resource.request.uri}}
        </a>
        <br>
        <span class="unimportant">
          {{resource._id}}
        </span>
      </td>
      <td>{{resource.response.statusCode}}</td>
      <td>
        <input type="checkbox" v-model="resource.disabled" @change="toggleResource(resource)" />
      </td>
      <td class="nowrap">
        <button type="button" class="btn btn-xs btn-info" @click="openResource(resource)">
          <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-xs btn-danger" @click="deleteResource(resource)">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
